<!--Start footer area-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget">
                    <div class="footer-logo">
                        <a href="index.html"><img alt="Awesome image" src="/img/resources/Web.png"></a>
                    </div>
                    <div class="caption-text">
                        <p>XtraTime is your ultimate destination for sports enthusiasts in Tunisia. Whether you're looking to book a sports field for a friendly match or serious training, XtraTime makes it effortless. With our user-friendly platform, you can easily find and reserve a wide variety of sports fields, including football, basketball, tennis, and more, all across Tunisia. Experience real-time availability, instant confirmation, and a seamless booking process, ensuring that your sports activities are always on track. Make every game count with XtraTime.</p>
                        <a class="thm-btn arrow-push-out-right" href="#"><span>Purchase  Now <i class="fa fa-caret-right"></i></span></a>
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget">
                    <h3 class="title">Quick Links</h3>
                    <ul class="quick-links left">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="blog-v1.html">News & Tips</a></li>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="package-v1.html">Our Packages</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="single-shop.html">Shop</a></li>
                    </ul>

                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->

            <!--End single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget">
                    <h3 class="title">Contact us</h3>
                    <ul class="contact">
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="text">
                                <p>Ariana Essoughra, Raoued, Ariana: 2081</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="text">
                                <p>Troll Free: +1 212-212-2376</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="text">
                                <p>XtraTime@Gmail.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="text">
                                <p>Week Days : 05:00 – 22:00
                                    <br>Saturday : 08:00 – 18:00
                                    <br>Sunday : 08:00 – 12:00</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--End footer area-->
<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container ">
        <div class="footer-bottom">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="copy-right">
                        <p>© 2016 Fitness Care Theme Designed by Steelthemes</p>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.footer-bottom -->
    </div>
