
<section class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 hidden-sm">
                <div class="img-holder">
                    <img src="img/subscribe/trainers.png" alt="">
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="subscribe-form">
                    <h1 class="title">Subscribe us for Offers & Health Tips</h1>
                    <form class="subscribe mailchimp-form" action="https://st.ourhtmldemo.com/template/fitness-care-html/fitness-care/inc/mailchimp/subscribe.php">
                        <input class="name" type="text" name="fname" placeholder="Your Name">
                        <input class="email" type="text" name="email" placeholder="Your Email">
                        <button class="thm-btn arrow-push-out-right" type="submit"><span>Subscribe  Now <i class="fa fa-caret-right"></i></span></button>
                    </form>
                    <h1>Give us a Call  : <span>+1 212-212-2376</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 hidden-sm">
                <div class="img-holder">
                    <img src="img/subscribe/trainers.png" alt="">
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="subscribe-form">
                    <h1 class="title">Subscribe us for Offers & Health Tips</h1>
                    <form class="subscribe mailchimp-form" action="https://st.ourhtmldemo.com/template/fitness-care-html/fitness-care/inc/mailchimp/subscribe.php">
                        <input class="name" type="text" name="fname" placeholder="Your Name">
                        <input class="email" type="text" name="email" placeholder="Your Email">
                        <button class="thm-btn arrow-push-out-right" type="submit"><span>Subscribe  Now <i class="fa fa-caret-right"></i></span></button>
                    </form>
                    <h1>Give us a Call  : <span>+1 212-212-2376</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-bottom-area">
    <div class="container ">
        <div class="footer-bottom">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="copy-right">
                        <p>© 2016 Xtra Time Theme Designed by Steelthemes</p>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.footer-bottom -->
    </div>

</section>
