
    <header class="header header-v1 has-over-section stricky dark-header ">

        <div class="header-menu-wrapper ">
            <div class="container">
                <nav class="navigation clearfix">
                    <div id="menuzord" class="menuzord">
                        <a href="index.html" class="menuzord-brand">
                            <img src="img/resources/logo.png" alt="Awesome Image" id="skin-logo-img" />
                        </a>
                        <ul class="menuzord-menu">
                            <li>
                                <a href="index.html" class="flip-flop-btn"><span data-hover="HOME">HOME</span></a>
                                <div class="megamenu megamenu-width-75-p">
                                    <div class="megamenu-row">
                                        <div class="col8">
                                            <h3>More  HomePages...</h3>
                                            <ul>
                                                <li><a href="index.html">Default Homepage 01 <span>( Black Transparent  Header + Top Bar + Parallax & More.. )</span> </a></li>
                                                <li><a href="index2.html">Homepage 02 <span>( Standard Header + BMI Calculator + Video Gallery & More.. )</span> </a></li>
                                                <li><a href="index3.html">Homepage 03 <span>( Creative Header + Centered Logo + Top Bar + BMI Calculator&More.. )</span> </a></li>
                                                <li><a href="index4.html">Homepage 04 <span>(White Header + Schedule Calendar + Pricing Tables & More..)</span></a></li>
                                                <li><a href="index5.html">Homepage 05 <span>(	Black Header + Product Shop & More..)</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col4">
                                            <img src="img/resources/menu-home-offer.jpg" alt="Awesome Image" class="offer-home" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="about.html" class="flip-flop-btn"><span data-hover="ABOUT">ABOUT</span></a>
                                <ul class="dropdown">
                                    <li><a href="trainers.html">Our Trainers</a></li>
                                    <li><a href="pricing.html">Pricing </a></li>
                                    <li><a href="customer-feedback.html">Customer Feedbacks</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="package-v1.html" class="flip-flop-btn"><span data-hover="Packages">Packages</span></a>
                                <div class="megamenu megamenu-width-75-p">
                                    <div class="megamenu-row">
                                        <div class="col4">
                                            <h3>Packages & Workouts</h3>
                                            <ul>
                                                <li><a href="package-v1.html">Our Packages</a></li>
                                                <li><a href="package-v2.html">Our Packages with Sidebar</a></li>
                                                <li><a href="single-package.html">Single Package Detail</a></li>
                                                <li><a href="workout-v1.html">Popular Workouts</a></li>
                                                <li><a href="workout-v2.html">Workouts with Sidebar</a></li>
                                                <li><a href="single-workout.html">Single Workout Detail</a></li>
                                            </ul>
                                        </div>
                                        <div class="col4">
                                            <h3>Offer going packages</h3>
                                            <div id="carousel-example-generic" class="carousel slide offer-going-package-menu" data-ride="carousel">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                                </ol>
                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="item active">
                                                        <div class="single-offer-going-pack">
                                                            <div class="img-box">
                                                                <img src="img/resources/offer-menu-1.jpg" alt="Awesome Image" />
                                                                <div class="box">
                                                                    <div class="overlay">
                                                                        <div class="content">
                                                                            <h4>50% Offer</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-box">
                                                                <div class="icon-box">
                                                                    <div class="box">
                                                                        <i class="fc-icon ftc-icon-running"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="content-box">
                                                                    <a href="single-package.html"><h3>Fat Loss <span>($150&nbsp;&nbsp;<b>$75</b>)</span></h3></a>
                                                                    <ul>
                                                                        <li><a href="#">06 Month Training</a></li>
                                                                        <li><a href="#">30 Min</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item ">
                                                        <div class="single-offer-going-pack">
                                                            <div class="img-box">
                                                                <img src="img/resources/offer-menu-1.jpg" alt="Awesome Image" />
                                                                <div class="box">
                                                                    <div class="overlay">
                                                                        <div class="content">
                                                                            <h4>50% Offer</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-box">
                                                                <div class="icon-box">
                                                                    <div class="box">
                                                                        <i class="fc-icon ftc-icon-running"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="content-box">
                                                                    <a href="single-package.html"><h3>Fat Loss <span>($150&nbsp;&nbsp;<b>$75</b>)</span></h3></a>
                                                                    <ul>
                                                                        <li><a href="#">06 Month Training</a></li>
                                                                        <li><a href="#">30 Min</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item ">
                                                        <div class="single-offer-going-pack">
                                                            <div class="img-box">
                                                                <img src="img/resources/offer-menu-1.jpg" alt="Awesome Image" />
                                                                <div class="box">
                                                                    <div class="overlay">
                                                                        <div class="content">
                                                                            <h4>50% Offer</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-box">
                                                                <div class="icon-box">
                                                                    <div class="box">
                                                                        <i class="fc-icon ftc-icon-running"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="content-box">
                                                                    <a href="single-package.html"><h3>Fat Loss <span>($150&nbsp;&nbsp;<b>$75</b>)</span></h3></a>
                                                                    <ul>
                                                                        <li><a href="#">06 Month Training</a></li>
                                                                        <li><a href="#">30 Min</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col4">
                                            <img src="img/resources/menu-package-offer.jpg" alt="Awesome Image" class="offer-home-two" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="blog-v1.html" class="flip-flop-btn"><span data-hover="BLOG">BLOG</span></a>
                                <ul class="dropdown">
                                    <li><a href="blog-v1.html">Classic  Fullwidth With Sidebar</a></li>
                                    <li><a href="blog-v2.html">Grid View Without Sidebar</a></li>
                                    <li><a href="blog-v3.html">List View With Sidebar</a></li>
                                    <li><a href="blog-details-full.html">Single Fullwidth Detail Page</a></li>
                                    <li><a href="blog-details-sidebar.html">Single Detail Page with Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="flip-flop-btn"><span data-hover="GALLERY">GALLERY</span></a>
                                <div class="megamenu gallery">
                                    <div class="megamenu-row">
                                        <div class="col3">
                                            <h3>Grid with out text Examples</h3>
                                            <ul>
                                                <li><a href="gallery-grid-no-text-v1.html">Grid Four Columns</a></li>
                                                <li><a href="gallery-grid-no-text-v2.html">Grid Three Columns</a></li>
                                                <li><a href="gallery-grid-no-text-v3.html">Grid Two Columns</a></li>
                                                <li><a href="gallery-grid-no-text-v4.html">Grid With Right Sidebar</a></li>
                                                <li><a href="gallery-grid-no-text-v5.html">Grid With Left Sidebar</a></li>
                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <h3>Grid with text Examples</h3>
                                            <ul>
                                                <li><a href="gallery-grid-text-v1.html">Grid Four Columns</a></li>
                                                <li><a href="gallery-grid-text-v2.html">Grid Three Columns</a></li>
                                                <li><a href="gallery-grid-text-v3.html">Grid Two Columns</a></li>
                                                <li><a href="gallery-grid-text-v4.html">Grid With Right Sidebar</a></li>
                                                <li><a href="gallery-grid-text-v5.html">Grid With Left Sidebar</a></li>
                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <h3>Fullwidth Gallery Examples</h3>
                                            <ul>
                                                <li><a href="gallery-full-width-v1.html">Gallery Five Columns</a></li>
                                                <li><a href="gallery-full-width-v2.html">Gallery Four Columns</a></li>
                                                <li><a href="gallery-full-width-v3.html">Gallery Six Columns</a></li>
                                                <li><a href="gallery-full-width-v4.html">Gallery Three Columns</a></li>
                                                <li><a href="gallery-full-width-v5.html">Gallery Two Columns</a></li>
                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <h3>Masaonry & Gallery Detail</h3>
                                            <ul>
                                                <li><a href="gallery-masonary-v1.html">Manasory Example One</a></li>
                                                <li><a href="gallery-masonary-v2.html">Manasory Example Two</a></li>
                                                <li><a href="gallery-masonary-v3.html">Manasory Example Three</a></li>
                                                <li><a href="gallery-details-full.html">Gallery Detail Without Sidebar</a></li>
                                                <li><a href="gallery-details-sidebar.html">Gallery Detail With Sidebar</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="shop.html" class="flip-flop-btn"><span data-hover="SHOP">SHOP</span></a>
                                <ul class="dropdown">
                                    <li><a href="shop-full.html.twig">Shop Products</a></li>
                                    <li><a href="shop.html">Shop Products With Sidebar</a></li>
                                    <li><a href="single-shop.html">Product Details</a></li>
                                    <li><a href="cart.html">Cart Page</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="checkout.html">Checkout Page</a></li>
                                    <li><a href="login-register.html">Login / Register</a></li>
                                </ul>
                            </li>
                            <li><a href="events.html" class="flip-flop-btn"><span data-hover="Events">Events</span></a></li>
                            <li><a href="contact.html" class="flip-flop-btn"><span data-hover="CONTACT">CONTACT</span></a></li>
                            <li class="shopping-cart">
                                <a href="#"><i class="fc-icon ftc-icon-shopping-bag2"> <span class="cart-item">3</span></i> <span class="text">Cart (3)</span></a>
                                <div class="megamenu shopping-cart-box">
                                    <ul class="header-cart-box">
                                        <li>
                                            <div class="img-box">
                                                <img src="img/resources/header-cart-1.jpg" alt="Awesome Image" />
                                            </div>
                                            <div class="text-box">
                                                <a href="#"><h3>Kobo Multi Stepper</h3></a>
                                                <span class="price">$150.99</span>
                                                <div class="review-box">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <a href="#" class="remove-box"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img-box">
                                                <img src="img/resources/header-cart-2.jpg" alt="Awesome Image" />
                                            </div>
                                            <div class="text-box">
                                                <a href="#"><h3>CEB-604 A Air Bike </h3></a>
                                                <span class="price">$290.99</span>
                                                <div class="review-box">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <a href="#" class="remove-box"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img-box">
                                                <img src="img/resources/header-cart-3.jpg" alt="Awesome Image" />
                                            </div>
                                            <div class="text-box">
                                                <a href="#"><h3>Wheel Knee Cushion</h3></a>
                                                <span class="price">$150.99</span>
                                                <div class="review-box">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <a href="#" class="remove-box"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </li>
                                        <li class="clearfix cart-bottom">
                                            <div class="total-text pull-left">
                                                <span>Total - $850.99</span>
                                            </div>
                                            <div class="checkout-btn pull-right">
                                                <a href="#" class="flip-flop-btn"><span data-hover="Checkout">Checkout<i class="fa fa-caret-right"></i></span></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="search-button">
                                <a data-toggle="collapse" href="#search-box" aria-expanded="false" aria-controls="search-box"><i class="fa fa-search"></i> <span class="text">Search</span></a>
                            </li>
                            {% if app.user %}
                                <li>
                                    <a href="#" class="flip-flop-btn"><span>Welcome, {{ app.user.username }}!</span></a>
                                    <ul class="dropdown">
                                        <li><a href="{{ path('app_utilisateurs_edit', {'id': app.user.id})}}">Profile</a></li>
                                        <li><a href="{{ path('app_logout') }}">Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                    <li><a href="{{ path('app_login') }}">LOGIN</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div><!-- /.header-menu-wrapper -->
        <div class="search-box collapse" id="search-box">
            <div class="container">
                <form action="#">
                    <input type="text" placeholder="To Search Start Typing...">
                </form>
            </div>
        </div>
    </header>
