<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Utilisation de FullCalendar</title>

        <!--Fichiers CSS-->
        
        <link href="/BackEnd/assets/libs/jsvectormap/css/fullcalendar/core/main.css" rel="stylesheet" type="text/css" />


        <link rel="stylesheet" href="/BackEnd/assets/libs/jsvectormap/css/fullcalendar/daygrid/main.css">
        <link rel="stylesheet" href="/BackEnd/assets/libs/jsvectormap/css/fullcalendar/timegrid/main.css">
        <link rel="stylesheet" href="/BackEnd/assets/libs/jsvectormap/css/fullcalendar/list/main.css">
        <link rel="stylesheet" href="/BackEnd/assets/libs/jsvectormap/css/fullcalendar/css/styles.css">
    </head>
    <body>
        <div id="calendrier"></div>

        <!--Fichiers JS-->
        <script src="/BackEnd/assets/libs/jsvectormap/css/fullcalendar/core/main.js"></script>
        <script src="/BackEnd/assets/libs/jsvectormap/css/fullcalendar/daygrid/main.js"></script>
        <script src="/BackEnd/assets/libs/jsvectormap/css/fullcalendar/timegrid/main.js"></script>
        <script src="/BackEnd/assets/libs/jsvectormap/css/fullcalendar/list/main.js"></script>
        <script src="/BackEnd/assets/libs/jsvectormap/css/fullcalendar/interaction/main.js"></script>
        <script src="/BackEnd/assets/libs/jsvectormap/css/fullcalendar/js/scripts.js"></script>
    </body>
</html>