{% extends 'index.html.twig' %}

{% block body %}
  <section class="inner-banner pattern-3" style="margin-top: 0px;">
    <div class="container text-center">
        <h2>Shop Products with sidebar</h2>
        <p>We offer Fitness & Yoga services since 1996</p>
    </div>
</section>

    <section class="bread-cumb">
        <div class="container text-center">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><span>Shop Products with sidebar</span></li>
            </ul>
        </div>
    </section>
    <section class="sidebar-pages popular-shop-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-xs-12">
                    <div class="sidebar-page-content section-padding pb0">
                        <div class="inner-page-wrapper section-padding pt0 white-bg">
                            <div class="row meta-info">
                                <div class="col-md-12">
                                    <p class="number-of-product pull-left">Showing 1-12 of 34 Results</p>
                                    <div class="select-box pull-right">
                                        <select class="selectpicker">
                                            <option>Default Sorting</option>
                                            <option>Newer First</option>
                                            <option>Sort By Date</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="single-product-item text-center">
                                        <div class="img-holder">
                                            <img alt="" src="img/shop/1.jpg">
                                            <div class="overlay">
                                                <div class="icon-holder">
                                                    <ul>
                                                        <li><a href="single-shop.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-heart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-search-plus"></i></a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.icon-holder -->
                                            </div>
                                            <!-- /.overlay -->
                                        </div>
                                        <!-- /.img-holder -->
                                        <div class="title">
                                            <a href="single-shop.html"><h3>Kobo Multi Stepper </h3></a>
                                            <h2><del class="before-rate">$190.99</del>$100.99</h2>
                                        </div>
                                        <!-- /.title -->
                                    </div>
                                    <!-- /.single-product-item text-center -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="single-product-item text-center">
                                        <div class="img-holder">
                                            <img alt="" src="img/shop/2.jpg">
                                            <div class="new-product">
                                                <p>new</p>
                                            </div>
                                            <div class="overlay">
                                                <div class="icon-holder">
                                                    <ul>
                                                        <li><a href="single-shop.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-heart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-search-plus"></i></a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.icon-holder -->
                                            </div>
                                            <!-- /.overlay -->
                                        </div>
                                        <!-- /.img-holder -->
                                        <div class="title">
                                            <a href="single-shop.html"><h3>CEB-604 A Air Bike </h3></a>
                                            <h2><del class="before-rate">$190.99</del>$100.99</h2>
                                        </div>
                                        <!-- /.title -->
                                    </div>
                                    <!-- /.single-product-item text-center -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="single-product-item text-center">
                                        <div class="img-holder">
                                            <img alt="" src="img/shop/3.jpg">
                                            <div class="offer-product">
                                                <p>50% Offer</p>
                                            </div>
                                            <div class="overlay">
                                                <div class="icon-holder">
                                                    <ul>
                                                        <li><a href="single-shop.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-heart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-search-plus"></i></a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.icon-holder -->
                                            </div>
                                            <!-- /.overlay -->
                                        </div>
                                        <!-- /.img-holder -->
                                        <div class="title">
                                            <a href="single-shop.html"><h3>BSA Duatron Dual Air Bike</h3></a>
                                            <h2><del class="before-rate">$190.99</del>$100.99</h2>
                                        </div>
                                        <!-- /.title -->
                                    </div>
                                    <!-- /.single-product-item text-center -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="single-product-item text-center">
                                        <div class="img-holder">
                                            <img alt="" src="img/shop/4.jpg">
                                            <div class="overlay">
                                                <div class="icon-holder">
                                                    <ul>
                                                        <li><a href="single-shop.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-heart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-search-plus"></i></a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.icon-holder -->
                                            </div>
                                            <!-- /.overlay -->
                                        </div>
                                        <!-- /.img-holder -->
                                        <div class="title">
                                            <a href="single-shop.html"><h3>Rocket Twister with  N Grip</h3></a>
                                            <h2><del class="before-rate">$190.99</del>$100.99</h2>
                                        </div>
                                        <!-- /.title -->
                                    </div>
                                    <!-- /.single-product-item text-center -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="single-product-item text-center">
                                        <div class="img-holder">
                                            <img alt="" src="img/shop/5.jpg">
                                            <div class="offer-product">
                                                <p>50% Offer</p>
                                            </div>
                                            <div class="overlay">
                                                <div class="icon-holder">
                                                    <ul>
                                                        <li><a href="single-shop.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-heart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-search-plus"></i></a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.icon-holder -->
                                            </div>
                                            <!-- /.overlay -->
                                        </div>
                                        <!-- /.img-holder -->
                                        <div class="title">
                                            <a href="single-shop.html"><h3>25Kg Weight Plates</h3></a>
                                            <h2><del class="before-rate">$190.99</del>$100.99</h2>
                                        </div>
                                        <!-- /.title -->
                                    </div>
                                    <!-- /.single-product-item text-center -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="single-product-item text-center">
                                        <div class="img-holder">
                                            <img alt="" src="img/shop/6.jpg">
                                            <div class="overlay">
                                                <div class="icon-holder">
                                                    <ul>
                                                        <li><a href="single-shop.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-heart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-search-plus"></i></a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.icon-holder -->
                                            </div>
                                            <!-- /.overlay -->
                                        </div>
                                        <!-- /.img-holder -->
                                        <div class="title">
                                            <a href="single-shop.html"><h3>Muscle Pharm Assault </h3></a>
                                            <h2><del class="before-rate">$190.99</del>$100.99</h2>
                                        </div>
                                        <!-- /.title -->
                                    </div>
                                    <!-- /.single-product-item text-center -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="single-product-item text-center">
                                        <div class="img-holder">
                                            <img alt="" src="img/shop/7.jpg">
                                            <div class="offer-product">
                                                <p>70% Offer</p>
                                            </div>
                                            <div class="overlay">
                                                <div class="icon-holder">
                                                    <ul>
                                                        <li><a href="single-shop.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-heart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-search-plus"></i></a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.icon-holder -->
                                            </div>
                                            <!-- /.overlay -->
                                        </div>
                                        <!-- /.img-holder -->
                                        <div class="title">
                                            <a href="single-shop.html"><h3>Wheel With Knee Cushion</h3></a>
                                            <h2><del class="before-rate">$190.99</del>$100.99</h2>
                                        </div>
                                        <!-- /.title -->
                                    </div>
                                    <!-- /.single-product-item text-center -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="single-product-item text-center">
                                        <div class="img-holder">
                                            <img alt="" src="img/shop/8.jpg">
                                            <div class="new-product">
                                                <p>new</p>
                                            </div>
                                            <div class="overlay">
                                                <div class="icon-holder">
                                                    <ul>
                                                        <li><a href="single-shop.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-heart"></i></a></li>
                                                        <li><a href="single-shop.html"><i class="fa fa-search-plus"></i></a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.icon-holder -->
                                            </div>
                                            <!-- /.overlay -->
                                        </div>
                                        <!-- /.img-holder -->
                                        <div class="title">
                                            <a href="single-shop.html"><h3>Muscle Pharm CLA</h3></a>
                                            <h2><del class="before-rate">$190.99</del>$100.99</h2>
                                        </div>
                                        <!-- /.title -->
                                    </div>
                                    <!-- /.single-product-item text-center -->
                                </div>
                                <!-- /.col-md-4 -->
                            </div>
                            <!-- /.row -->
                            <ul class="post-pagination list-inline text-center">
                                <li><a href="#"><i class="fa fa-caret-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- /.inner-page-wrapper -->
                    </div>
                    <!-- /.sidebar-page-content -->
                </div>
                <!-- /.col-md-9 -->
                <div class="col-lg-3 col-md-4 col-xs-12">
                    <div class="sidebar-wrapper section-padding">
                        <div class="single-sidebar search-widget">
                            <div class="title">
                                <h3>Search Keywords</h3>
                            </div>
                            <!-- /.title -->
                            <form action="#">
                                <input type="text" placeholder="Serach For Keywords" />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- /.single-sidebar -->
                        <div class="single-sidebar price-filter">
                            <div class="title">
                                <h3>Filter By Price</h3>
                            </div>
                            <div class="range-slider-price" id="range-slider-price"></div>
                            <div class="form-group clearfix">
                                <button type="button">Filter</button>
                                <p>price: $
                                    <input type="text" class="val-box" id="min-value-rangeslider" readonly> $
                                    <input type="text" class="val-box" id="max-value-rangeslider" readonly>
                                </p>
                            </div>
                        </div>
                        <div class="single-sidebar category-widget">
                            <div class="title">
                                <h3>Categories</h3>
                            </div>
                            <!-- /.title -->
                            <ul>
                                <li><a href="package-v2.html">Diet Plan <span>(02)</span></a></li>
                                <li><a href="package-v2.html">Exercise <span>(08)</span></a></li>
                                <li><a href="package-v2.html">Nutrition <span>(09)</span></a></li>
                                <li><a href="package-v2.html">Body Tests <span>(20)</span></a></li>
                                <li><a href="package-v2.html">Strength overload <span>(04)</span></a></li>
                                <li><a href="package-v2.html">Uncategorized <span>(23)</span></a></li>
                                <li><a href="package-v2.html">Workouts <span>(02)</span></a></li>
                                <li><a href="package-v2.html">Flexibility <span>(10)</span></a></li>
                            </ul>
                        </div>
                        <!-- /.single-sidebar -->
                        <div class="single-sidebar post-widget">
                            <div class="title">
                                <h3>Recent Diet tips</h3>
                            </div>
                            <!-- /.title -->
                            <ul class="recent-news">
                                <li>
                                    <div class="box">
                                        <div class="overlay">
                                            <img src="img/footer/recent-news/1.jpg" alt="">
                                            <div class="content-box">
                                                <div class="icon-holder">
                                                    <i class="fc-icon ftc-icon-dumbbell"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Workout News</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <a href="blog-details-sidebar.html">
                                            <p>7 Best shoulder exer-
                                                <br>cised you’re not doing</p>
                                        </a>
                                        <span>February 07, 2016</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <div class="overlay">
                                            <img src="img/footer/recent-news/2.jpg" alt="">
                                            <div class="content-box">
                                                <div class="icon-holder">
                                                    <i class="fc-icon ftc-icon-dumbbell"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Workout News</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <a href="blog-details-sidebar.html">
                                            <p>8 Things You Should
                                                <br> Never Do On Chest Day</p>
                                        </a>
                                        <span>February 12, 2016</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <div class="overlay">
                                            <img src="img/footer/recent-news/3.jpg" alt="">
                                            <div class="content-box">
                                                <div class="icon-holder">
                                                    <i class="fc-icon ftc-icon-dumbbell"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Workout News</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <a href="blog-details-sidebar.html">
                                            <p>Louis Williams Instinc-
                                                <br>tive Back Workout</p>
                                        </a>
                                        <span>February 17, 2016</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.single-sidebar -->
                        <div class="single-sidebar package-slider-widget">
                            <div class="title">
                                <h3>packages Slider</h3>
                            </div>
                            <!-- /.title -->
                            <div id="package-slider-widget-wrapper" class="carousel slide offer-going-package-menu" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="single-offer-going-pack">
                                            <div class="img-box">
                                                <img src="img/resources/offer-menu-1.jpg" alt="Awesome Image" />
                                                <div class="box">
                                                    <div class="overlay">
                                                        <div class="content">
                                                            <h4>50% Offer</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-box">
                                                <div class="icon-box">
                                                    <div class="box">
                                                        <i class="fc-icon ftc-icon-running"></i>
                                                    </div>
                                                </div>
                                                <div class="content-box">
                                                    <a href="single-package.html"><h3>Fat Loss <span>($150&nbsp;&nbsp;<b>$75</b>)</span></h3></a>
                                                    <ul>
                                                        <li><a href="#">06 Month Training</a></li>
                                                        <li><a href="#">30 Min</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item ">
                                        <div class="single-offer-going-pack">
                                            <div class="img-box">
                                                <img src="img/resources/offer-menu-1.jpg" alt="Awesome Image" />
                                                <div class="box">
                                                    <div class="overlay">
                                                        <div class="content">
                                                            <h4>50% Offer</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-box">
                                                <div class="icon-box">
                                                    <div class="box">
                                                        <i class="fc-icon ftc-icon-running"></i>
                                                    </div>
                                                </div>
                                                <div class="content-box">
                                                    <a href="single-package.html"><h3>Fat Loss <span>($150&nbsp;&nbsp;<b>$75</b>)</span></h3></a>
                                                    <ul>
                                                        <li><a href="#">06 Month Training</a></li>
                                                        <li><a href="#">30 Min</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item ">
                                        <div class="single-offer-going-pack">
                                            <div class="img-box">
                                                <img src="img/resources/offer-menu-1.jpg" alt="Awesome Image" />
                                                <div class="box">
                                                    <div class="overlay">
                                                        <div class="content">
                                                            <h4>50% Offer</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-box">
                                                <div class="icon-box">
                                                    <div class="box">
                                                        <i class="fc-icon ftc-icon-running"></i>
                                                    </div>
                                                </div>
                                                <div class="content-box">
                                                    <a href="single-package.html"><h3>Fat Loss <span>($150&nbsp;&nbsp;<b>$75</b>)</span></h3></a>
                                                    <ul>
                                                        <li><a href="#">06 Month Training</a></li>
                                                        <li><a href="#">30 Min</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#package-slider-widget-wrapper" data-slide-to="0" class="active"></li>
                                    <li data-target="#package-slider-widget-wrapper" data-slide-to="1"></li>
                                    <li data-target="#package-slider-widget-wrapper" data-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                        <!-- /.single-sidebar -->
                        <div class="single-sidebar call-to-action-widget">
                            <img src="img/resources/menu-package-offer.jpg" alt="Awesome Image" />
                        </div>
                        <!-- /.single-sidebar -->
                    </div>
                    <!-- /.sidebar-wrapper -->
                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

{% endblock %}