{% extends 'front.html.twig' %}


{% block body %}
<div class="container" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="table-responsive table-card mt-3 mb-1">
        <table class="table align-middle table-nowrap" id="customerTable">
                                <tr>
                                   <th scope="col" style="width: 50px;">
                                     <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                             </div>
                                             </th>
                                             <th class="sort" data-sort="nomProduit">idevent</th>
                                             <th class="sort" data-sort="ref">titre</th>
                                             <th class="sort" data-sort="marque">description</th>
                                             <th class="sort" data-sort="prix">Image</th>
                                             <th class="sort" data-sort="quantite">Date_debut</th>
                                             <th class="sort" data-sort="taille">Date_fin</th>
                                             <th class="sort" data-sort="type sport"> idterrain</th>
                                             <th class="sort" data-sort="desc">idsponso</th>
                                             <th class="sort" data-sort="image">iduser</th>
                                             <th class="sort" data-sort="action">Action</th>
                                </tr>
                             
      
    </table>
</div>
</div>
{% endblock %}