{% extends 'index.html.twig' %}

{% block body %}
<section class="success-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 100px;">
                <div class="success-icon">
                </div>
                <h1 class="success-title" style="color: black; margin-bottom: 20px; font-size: 36px; font-weight: bold;">Félicitations !</h1>
                <p class="success-message" style="color: black; margin-bottom: 10px; font-size: 18px;">Votre paiement a été effectué avec succès.</p>
                <p class="success-message" style="color: black; font-size: 18px;">Merci pour votre commande. Nous traitons actuellement votre demande.</p>
                <!-- Vous pouvez ajouter d'autres détails de la commande ici -->
            </div>
        </div>
    </div>
</section>

<style>
.success-section {
    background-image: url('/img/conf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    min-height: 100vh; /* Définissez la hauteur minimale de la section comme la hauteur de la fenêtre visible */
}

/* Assurez-vous d'ajuster ces styles pour correspondre à la taille et à la position de vos confettis */
.success-icon {
    position: relative;
    z-index: 1; /* Assurez-vous que l'icône est en avant-plan */
}
</style>
{% endblock %}
