
{% extends 'index.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Votre commande a été confirmée</h1>
            <p>Merci pour votre commande. Nous traitons actuellement votre demande.</p>
            <!-- Vous pouvez ajouter d'autres détails de la commande ici -->
        </div>
    </div>
</div>


{% endblock %}
